<div class="jumbotron">
  <h2>Rational sizing for pants</h2>
  <p class="lead">Why are men's pants measured in inches, but women's pants in "sizes"? We're not sure, but we're pretty sure that it doesn't make much sense for the people trying to buy pants.</p>
  <p>We intend to build a database of measurements allowing people of all body types to find jeans that fit without spending hours in a dressing room</p>
</div>
